html {
    background-image: url(assets/background.png);
    background-size: cover;
}

.container {
    display: grid;
    place-items: center;
}

.card {
    width: 430px;
    background-color: #4b2409;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 100px;
    border-radius: 5%;
    border: solid;
    border-width: 5px;
}

.card img {
    padding-top: 15px;
    width: 400px;
    margin-left: 15px;
    border-radius: 20%;
    position: relative;
}

h1 {
    background-color: #bd7a22;
    width: 390px;
    padding-left: 10px;
    margin-left: 15px;
    margin-top: 15px;
    text-align: left;
    position: absolute;
}

.descricao {
    background-color: rgb(238, 216, 169);
    width: 400px;
    border-radius: 25%;
    margin-top: -70px;
    margin-left: 15px;
    padding-top: 75px;
    padding-bottom: 10px;
}

.habilidades {
    width: 200px;
    color: white;
    margin-left: 20px;
    text-align: left;
    margin-top: -20px;
    margin-right: 5px;
}

.habilidades>ul {
    margin-top: -15px;
}

.habilidades>h2 {
    padding-left: 25px;
}

.caracteristicas {
    color: white;
    margin-top: -20px;
}

.caracteristicas>p {
    margin-top: -15px;
    margin-bottom: 15px;
}