.container {
    text-align: center;
}
.card{
    width: 430px;
    background-color: rgb(63, 44, 2);
}
.card img {
    padding-top: 15px;
    width: 400px;
    border-radius: 25%;
    position: relative;
}
h1 {
    background-color: rgb(90, 71, 29);
    width: 390px;
    padding-left: 10px;
    margin-left: 15px;
    margin-top: -30px;
    text-align: left;
    position: absolute;
}